{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h1 class="text-center mt-5 mb-4">Confirm Cancellation</h1>
                    <p>Are you sure you want to cancel your reservation? Please confirm.</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class ="my-4"> 
                        <button type="submit" class="btn btn-outline-danger btn-sm active mx-3">Confirm</button>
                        <a href="{% url 'reservation_list' %}" class="btn btn-outline-success btn-sm active"
                            role="button">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}