{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/spices.webp' %}" class="d-block w-100 img-fluid" alt="image showing indian spices">
            <div class="carousel-caption d-none d-md-block">
                <h3>Welcome to Indian Curry</h3>
                    <p>A journey to India through your taste buds.</p>
                    <a href="{% url 'menu' %}" class="btn btn-light btn-md active mb-3" role="button"
                        aria-pressed="true">Our
                        Menu</a>
                    <br>
                    <a href="{% url 'make_reservation' %}" class="btn btn-light btn-md active mb-2" role="button"
                        aria-pressed="true">Book a table</a>

            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/dishes.webp' %}" class="d-block w-100 img-fluid"
                alt="image of different varieties of indian food">
            <div class="carousel-caption d-none d-md-block">
                <h3>Indian Cuisine At Its Finest</h3>
                    <p>Indulge In A Truly Unforgettable Indian Dining Experience</p>
                    <a href="{% url 'menu' %}" class="btn btn-light btn-md active mb-3" role="button"
                        aria-pressed="true">Our
                        Menu</a> <br>
                    <a href="{% url 'make_reservation' %}" class="btn btn-light btn-md active mb-2" role="button"
                        aria-pressed="true">Book a table</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/interiors.webp' %}" class="d-block w-100 img-fluid" alt="image of restaurant interiors">
            <div class="carousel-caption d-none d-md-block">
                <h3>Take a seat, grab a treat.</h3>
                    <p>The fondest memories are made when gathered around the table.</p>
                    <div class="mt-3"><a href="{% url 'menu' %}" class="btn btn-light btn-md active mb-3" role="button"
                            aria-pressed="true">Our Menu</a></div>
                    <div class="mt-3">
                        <a href="{% url 'make_reservation' %}" class="btn btn-light btn-md active mb-2" role="button"
                            aria-pressed="true">Book a table</a>
                    </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>

<!-- Restaurant Story -->
<section class="container ">
    <div class="mt-5 main-content row justify-content-center">
        <div class="col-md-6 text-center">

            <div class="restaurant-story mt-5 text-dark">
                <h2 class="text-center">Our Story</h2>
                <h3 class="text-center">Welcome to Indian Curry</h3>
                <p class="text-center mb-3">"Indian Curry" was founded by Jadav Sharma, a passionate chef who grew up in
                    a
                    family where cooking was a cherished tradition. Jadav's love for cooking was inspired by his
                    grandmother, who taught him the secrets of blending spices and creating dishes that brought people
                    together. Her kitchen was always filled with the rich scents of cumin, coriander, and turmeric, and
                    every meal was a feast of vibrant colors and bold flavors.</p>
                <h3 class="text-center">Bringing India to Frankfurt City</h3>
                <p class="text-center mb-5">"Indian Curry" is more than just a restaurant; it’s a journey into the heart of
                    India’s culinary heritage. Every time you dine at "Indian Curry," you’re not just enjoying a meal –
                    you’re experiencing a tradition that has been passed down through generations, made with love and a
                    passion for sharing the vibrant flavors of India. <br> So, the next time you’re craving a taste of
                    India, come to "Indian Curry," where every dish is a celebration of tradition, and every meal is a
                    story waiting to be shared.</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}