{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container mt-5 main-content">
    <h1 class ="text-center">Make a Reservation</h1>
    <form method="post" class="reservation-form">
        {% csrf_token %}
        <div class="row mt-4">
            <div class="form-group col-md-6">
                <label for="id_table">{% trans "Table" %}</label>
                {{ form.table }}
                {% if form.table.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.table.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group col-md-6">
                <label for="id_name">{% trans "Name" %}*</label>
                {{ form.name }}
                {% if form.name.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="id_date">{% trans "Date" %}*</label>
                {{ form.date }}
                {% if form.date.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.date.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group col-md-6">
                <label for="id_time">{% trans "Time" %}*</label>
                {{ form.time }}
                {% if form.time.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.time.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="id_guests">{% trans "Seats" %}</label>
                {{ form.guests }}
                {% if form.guests.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.guests.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group col-md-6">
                <label for="id_phone">{% trans "Phone" %}*</label>
                {{ form.phone }}
                {% if form.phone.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.phone.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="id_notes">{% trans "Notes" %}</label>
                {{ form.notes }}
                {% if form.notes.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.notes.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <br>
        <div class="text-center mb-4">
        <button type="submit" class="btn btn-md btn-outline-success">{% trans "Confirm booking" %}</button>
    </div>
    </form>
</div>
{% endblock %}