{% extends 'base.html' %}

{% block content %}
<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="main-content">
                <div class="card-header text-center">
                    <h1 class="mt-4 mb-3">My Booking History</h1>
                    <ul class="mx-3">
                        {% for reservation in reservations %}
                        <li>
                            {{ reservation }}
                            <a href="{% url 'update_reservation' reservation.pk %}" class="btn btn-outline-success btn-sm active mb-1"
                                role="button" aria-pressed="true">Update</a>
                            <a href="{% url 'delete_reservation' reservation.pk %}" class="btn btn-outline-danger btn-sm active mb-1"
                                role="button" aria-pressed="true">Cancel</a>
                        </li>
                        {% empty %}
                        <p>No reservations found.</p>
                        {% endfor %}
                    </ul>
                    <div class="my-3">
                        <a href="{% url 'make_reservation' %}" class="btn btn-warning btn-sm active" role="button">Make a
                            Reservation</a>
                        <a href="{% url 'home' %}" class="btn btn-warning btn-sm active" role="button">Go back to
                            homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}