{% load static %}

<footer class="footer mt-auto py-3 bg-light">
    <section class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-container text-center text-md-left">
                    <!--Social medias icons-->
                    <h1 class="h3">Social medias:</h1>
                    <a href="https://www.instagram.com" target="_blank" rel="noopener"
                        aria-label="Instagram - Opens in new tab">
                        <img src="{% static 'icons/black-instagram-icon.svg' %}" alt="Instagram Icon"
                            class="social-icon" />
                    </a>
                    <a href="https://twitter.com" target="_blank" rel="noopener"
                        aria-label="Twitter - Opens in new tab">
                        <img src="{% static 'icons/twitter-square-icon.svg' %}" alt="Twitter Icon"
                            class="social-icon" />
                    </a>
                    <a href="https://www.youtube.com" target="_blank" rel="noopener"
                        aria-label="YouTube - Opens in new tab">
                        <img src="{% static 'icons/youtube-icon.svg' %}" alt="YouTube Icon" class="social-icon" />
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-container text-center text-md-left">
                    <h1 class="h3">Address:</h1>
                    <p>Indian Curry <br>
                        Kaiser strasse 20<br>
                        60306 Frankfurt am Main</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-container text-center text-md-left">
                    <h1 class="h3">Contact:</h1>
                    <p><small>
                            <a href="https://www.google.com/maps/place/Kaiserstra%C3%9Fe+20,+60311+Frankfurt+am+Main,+Germany/@50.1106063,8.6721825,17z/data=!3m1!4b1!4m6!3m5!1s0x47bd0ea9679cffb1:0xe86ede7c92f67447!8m2!3d50.1106029!4d8.6747628!16s%2Fg%2F11b8vcdtdt?entry=ttu"
                                target="_blank" rel="noopener" aria-label="map - Opens in new tab"><img
                                    src="{% static 'icons/address-location-icon.svg' %}" alt="Map Icon"
                                    class="icon">Location</a>
                            <br>
                            <a href="tel:+49699847521" target="_blank" rel="noopener"
                                aria-label="phone - Opens in new tab"><img src="{% static 'icons/calling-icon.svg' %}"
                                    alt="phone Icon" class="icon">069-9847521</a>
                            <br>
                            <a href="mailto:indiancurry@gmx.de" target="_blank" rel="noopener"
                                aria-label="email - Opens in new tab"><img
                                    src="{% static 'icons/email-address-icon.svg' %}" alt="phone Icon"
                                    class="icon">indiancurry@gmx.de</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p class="text-center text-md-right text-muted">Copyright © 2024 Indian Curry. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>