* {
    margin: 0;
}

/* base.css */
html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

/* header */

img .logo {
    width: 100%;
    height: auto;
}

/* Main */

/*carousel images*/
img .d-block {
    width: 100%;
    height: auto;
}

/*carousel captions background*/
div .carousel-caption {
    background: rgba(0, 0, 0, 0.3);
}

/*carousel captions*/
.carousel-caption h3,
.carousel-caption p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: 600;
}

/*Background image*/
.background {
    display: flex;
    flex-direction: column;
    background: url('../images/background.webp') no-repeat center center fixed;
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.main-content {
    /* White background with opacity */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    /*text color to black for better readability */
    color: #000;
    margin-bottom: 3rem;
    z-index: 1;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h5 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.main-content p,
.main-content li {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/*Footer*/

footer {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

.icon {
    height: 16px;
    margin: 1rem;
}

.footer-container p small a {
    color: black;
    text-decoration: none;
}

/* django allauth customization */

#id_password_helptext {
    display: none;
}